*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

header{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.nav1 a{
    text-decoration: none;
    font-family: helvetica;
    margin: 20px;
}

nav a:hover{
    border-bottom: 1px solid white;
}
/*second nav bar*/
section{ 
    background-color: gray;
    height: 80px;
    width: 100%;
    text-align: center;
}