*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.iconNavBar{
    display: flex;
    flex-direction: row;
}

.iconNavBar a{
    background-color: rgb(100,100,100);
    font-size: 36px;
    width: 80px;
    text-align: center;
    padding: 10px;
    color: white;
}

.iconNavBar a:hover{
    background-color: black;
}

 .iconNavBar .active{
    background-color: rgb(190,108,10);
}